/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}

button{
    height:35px; 
    width:100px; 
    margin: -20px ; 

    margin-left:110px;
    float:none; display:inline-block;
}


table {
    table-layout: fixed; 
    word-wrap: break-word;
}