Django==1.10.5
django-auditlog==0.4.3
django-crispy-forms==1.6.1
django-debug-toolbar==1.8
django-discover-runner==1.0
django-extensions==1.9.9
django-filter==1.1.0
django-jsonfield==1.0.1
django-role-permissions==2.1.0
djangorestframework==3.6.4
gunicorn==19.7.1
interop==1.0.25
numpy==1.12.1
pysam==0.10.0
scipy==1.0.0
