
    <ul class="nav nav-pills nav-stacked col-lg-1" >
      <li class="active"><a href="#tab_a" data-toggle="pill">Detail</a></li>
      <li><a href="#tab_b" data-toggle="pill">IGV</a></li>
      <li><a href="#tab_c" data-toggle="pill">Evidence</a></li>
      <li><a href="#tab_d" data-toggle="pill">Coverage</a></li>
    </ul>
    <div class="tab-content col-lg-11">
            <div class="tab-pane active" id="tab_a">
                 <h4>Detail</h4>

                           <table class = 'table table-bordered' >

            <thead>

              <tr>
                <th colspan="2">Summary</th>
              </tr>

            </thead>

            <tbody>

              <tr>
                <td> Chromsome </td>
                <td> {{ variant.chromosome }} </td>

              </tr>

              <tr>
                <td> Position </td>
                <td> {{ variant.position }} </td>

              </tr>

              <tr>
                <td> Ref </td>
                <td> {{ variant.ref }} </td>

              </tr>

              <tr>
                <td> Alt </td>
                <td> {{ variant.alt }} </td>

              </tr>

              <tr>
                <td> ID </td>
                <td> {{ variant.display_ids|join:", " }} </td>

              </tr>


              <tr>
                <td> Genes </td>
                <td>

                {% for gene in variant.get_genes %}


                  {{ gene }} 


                {% endfor %}


                </td>

              </tr>


              <tr>
                <td> Worst Consequence </td>
                <td> {{ variant.worst_consequence }} </td>

              </tr>

              <tr>
                <td> Rated as Pathogenic </td>
                <td> {{ variant.rated_as_pathogenic}} </td>

              </tr>

              <tr>
                <td> ClinVar Clin Sig </td>
                <td> {{ variant.clinical_sig }} </td>

              </tr>



              <tr>
                <td> Picked </td>
                <td> {{ variant.get_picked_transcript }} </td>

              </tr>

            </tbody>
          </table>

          


            </div>
            <div class="tab-pane" id="tab_b">
                 <h4>IGV</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
            <div class="tab-pane" id="tab_c">
                 <h4>Evidence</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
            <div class="tab-pane" id="tab_d">
                 <h4>Comments</h4>
                 
            </div>
    </div><!-- tab content -->
