




    <ul class="nav nav-pills nav-stacked col-lg-1" >
      <li ><a href="#tab_a" data-toggle="pill">Detail</a></li>
      <li class="active"><a href="#tab_b" data-toggle="pill">IGV</a></li>
      <li><a href="#tab_c" data-toggle="pill">Evidence</a></li>
      <li><a href="#tab_d" data-toggle="pill">Coverage</a></li>
    </ul>
    <div class="tab-content col-lg-11">
            <div class="tab-pane" id="tab_a">


            <table class = 'table table-bordered' >

            <thead>

              <tr>
                <th colspan="2">Summary</th>
              </tr>

            </thead>

            <tbody>

              <tr>
                <td> Variant </td>
                <td> {{ variant.chromosome }}  {{ variant.position }} </td>

              </tr>

              <tr>
                <td> Ref </td>
                <td> {{ variant.ref }} </td>

              </tr>

              <tr>
                <td> Alt </td>
                <td> {{ variant.alt }} </td>

              </tr>

              <tr>
                <td> ID </td>
                <td> {{ variant.display_ids|join:", " }} </td>

              </tr>


              <tr>
                <td> Genes </td>
                <td>

                {% for gene in variant.get_genes %}


                  {{ gene }} 


                {% endfor %}


                </td>

              </tr>


              <tr>
                <td> Worst Consequence </td>
                <td> {{ variant.worst_consequence }} </td>

              </tr>


              <tr>
                <td> ClinVar Clin Sig </td>
                <td> {{ variant.clinical_sig }} </td>

              </tr>

              <tr>
                <td> Picked Transcript </td>
                <td> {{ variant.get_picked_transcript }} </td>

              </tr>

              <tr>
                <td> HGVSc </td>
                <td> {{ variant.get_picked_hgvsc }} </td>

              </tr>

            </tbody>
          </table>

          


            </div>
            <div class="tab-pane active" id="tab_b">
                 <h4>IGV</h4> 

                <div id="myDiv"></div>  

            </div>
            <div class="tab-pane" id="tab_c">
                 <h4>Evidence</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
            <div class="tab-pane" id="tab_d">
                 <h4>Comments</h4>
                 
            </div>
    </div><!-- tab content -->



<script type="text/javascript">

    $(document).ready(function () {

        var div,
                options,
                browser;

        div = $("#myDiv")[0];
        options = {
            locus:"{{variant.chromosome}}:{{variant.position|add:-40}}-{{variant.position|add:40}}",
            showKaryo: false,
            showNavigation: true,
            showRuler: true,
            reference: {
                fastaURL: "https://s3.amazonaws.com/igv.broadinstitute.org/genomes/seq/hg19/hg19.fasta",
                cytobandURL: "https://s3.amazonaws.com/igv.broadinstitute.org/genomes/seq/hg19/cytoBand.txt"
            },
            flanking: 1000,
            apiKey: 'AIzaSyDUUAUFpQEN4mumeMNIRWXSiTh5cPtUAD0',
            trackDefaults: {
                bam: {
                    coverageThreshold: 0.2,
                    coverageQualityWeight: true
                }
            },
            palette: [
                ["#00A0B0", "#6A4A3C", "#CC333F", "#EB6841"]
            ],
            tracks: [
                {
                    name: "Genes",
                    type: "annotation",
                    format: "bed",
                    sourceType: "file",
                    url: "https://s3.amazonaws.com/igv.broadinstitute.org/annotations/hg19/genes/refGene.hg19.bed.gz",
                    indexURL: "https://s3.amazonaws.com/igv.broadinstitute.org/annotations/hg19/genes/refGene.hg19.bed.gz.tbi",
                    order: Number.MAX_VALUE,
                    visibilityWindow: 300000000,
                    displayMode: "EXPANDED"
                }




            ]
        };

        browser = igv.createBrowser(div, options);


    });

</script>