{% load permission_tags %}

  <div class="row">
    <div class="col-1">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#tab_a" role="tab" aria-controls="v-pills-taba" aria-selected="true">Detail</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#tab_b" role="tab" aria-controls="v-pills-tab_b" aria-selected="false">IGV</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#tab_c" role="tab" aria-controls="v-pills-tab_c" aria-selected="false">Evidence</a>
      </div>

    </div>
    <div class="col-11">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="tab_a" role="tabpanel" aria-labelledby="v-pills-home-tab">
         



        <table class = 'table table-bordered' >
        <thead>
          <tr>
            <th colspan="2">Summary</th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td> Chromsome </td>
            <td> {{ variant.chromosome }} </td>

          </tr>

          <tr>
            <td> Position </td>
            <td> {{ variant.position }} </td>

          </tr>

          <tr>
            <td> Ref </td>
            <td> {{ variant.ref }} </td>

          </tr>

          <tr>
            <td> Alt </td>
            <td> {{ variant.alt }} </td>

          </tr>

          <tr>
            <td> ID </td>
            <td> {{ variant.display_ids|join:", " }} </td>

          </tr>

          <tr>
            <td> Genes </td>
            <td>

              {% for gene in variant.get_genes %}

                {{ gene }} 

              {% endfor %}

            </td>

          </tr>

          <tr>
            <td> Worst Consequence </td>
            <td> {{ variant.worst_consequence }} </td>

          </tr>


          <tr>
            <td> ClinVar Clin Sig </td>
            <td> {{ variant.clinical_sig }} </td>

          </tr>

        </tbody>
      </table>



        <hr>

    <table class = 'table table-bordered' >
        <thead>
          <tr>
            <th colspan="2"> WMRGL Frequency</th>
          </tr>
        </thead>

        <tbody>

        

          <tr>
            <td> Total Frequency </td>
            <td> {{ frequency_data.global.2|floatformat:3 }} ({{ frequency_data.global.0 }} / {{ frequency_data.global.1 }}) </td>

          </tr>


          {% for key, values in frequency_data.projects.items %}


          <tr>
            <td> {{key }}</td>
            <td>  {{ values.2|floatformat:3 }} ({{ values.0 }} / {{ values.1 }}) </td>

          </tr>

          {% endfor %}







          </tbody>




    </table>


    <hr>

    <table  class = 'table table-bordered' >
        <thead>
          <tr>
            <th> Final Classification </th>
            <th> Report ID </th>
            <th> Sample </th>
            <th> Subsection </th>
            <th> Date </th>
          </tr>
        </thead>

        <tbody>

        
        {% for classification in variant.previous_classifications %}
          <tr>
            <td> {{classification.final_classification}} </td>
            <td> {{classification.report.pk}} </td>
            <td> {{classification.report.sample.name}} </td>
            <td> {{classification.report.sample.worksheet.sub_section}} </td>
            <td> {{classification.report.resolver_date}} </td>

          </tr>

        {% endfor %}


{% csrf_token %}






          </tbody>




    </table>


        <hr>

      <button data-toggle="collapse" data-target="#demo">View Samples</button>

      <hr>

    <div id="demo" class="collapse">



    
    <table  class = 'table table-bordered' >
        <thead>
          <tr>
            <th colspan="1"> Samples </th>
          </tr>
        </thead>

        <tbody>

        
        {% for sample in samples %}
          <tr>
            <td> {{sample.name}} </td>

          </tr>

        {% endfor %}









          </tbody>




    </table>

           </div>


       

        </div>
        <div class="tab-pane fade" id="tab_b" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          


                  <div id="myDiv"></div> 

            
        </div>
        <div class="tab-pane fade" id="tab_c" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          
                 <h4>Evidence</h4>

                 <div id='comment_box'> 

                 <!-- Comment box folds the comments and files for the variant - updated via ajax --> 

                 {% for comment in comments %}

                 <div class="card">
                    <h7 class="card-header">{{comment.user}} on {{comment.time}}</h7>
                    <div class="card-body">

                      {{comment.text}}


                       {% if comment.get_evidence == None %}

                      {% else %}

                        <hr>

                        {% for evidence in comment.get_evidence %}

                          <p><a href= /media/{{ evidence.file }} target="_blank"> {{ evidence.file }}</a> </p>


                        {% endfor %}

                      {% endif %}

                    </div>
                  </div>
                  <hr>




                 {% endfor %}


                 </div>

                 <div id='varhash' style="display: none;" >{{variant.variant_hash}} </div>

                 <hr>

                 {% if user|can:'add_comment' %}

                 

                  <form enctype="multipart/form-data" class="col-lg-6"> {% csrf_token %}
                    <div class="form-group">
                     <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment_text" style="resize:none;"></textarea>
                   </div>

                  <button type="button" class="btn btn-default btn-sm" id='comment_button'>
                    <span ></span> Add Comment/File
                  </button>

                    <div class="btn btn-default btn-sm">
                      Attach File <input type="file"  id='file_upload' name='file'> 
                  </div>


                  <hr>

                  <div class="alert alert-info" id='file_name' style="display: none;">
                    
                  </div>




                  <input type="hidden" id='hidden_image_field'>



                  </form>

                  <canvas style="border:1px solid grey;" id="my_canvas" width="300" height="300"></canvas>

                  {% endif %}



            
        </div>
      </div>
    </div>
  </div>











<script type="text/javascript">


$(document).ready(function () {


  //Here we get update the comments div using ajax

  //This implements an ajax function that allows:
  //a) adding comments
  //b) adding files
  //c) pasting in images from clipboard for upload



  $("#comment_button").click(function(){

    console.log('hi')

    var comment_text = $("#comment_text").val();
    var var_hash = $("#varhash").text();



    var formData = new FormData(); //create empty form data

    formData.append('csrfmiddlewaretoken',document.getElementsByName('csrfmiddlewaretoken')[0].value ); //add csfr token
    formData.append('sample_pk', {{sample.pk}}); //add sample primary key
    formData.append('comment_text', comment_text); //add comment text
    formData.append('variant_hash', var_hash); //which variant are we looking at

    var file = $('#file_upload')[0].files[0];

    var canvas = document.getElementById('my_canvas');

    var dataURL = canvas.toDataURL("image/png");
    document.getElementById('hidden_image_field').value = dataURL;

    formData.append('file', file); //add file

    if (canvas_entered ==true){


      formData.append('image_data', $("#hidden_image_field").val()); //add image file


    }

   
    $.ajax({
    url: '/ajax/ajax_comments/',
    type: 'POST', 
    data: formData,

    contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
    processData: false, // NEEDED, DON'T OMIT THIS


    success: function(data) {

        $("#comment_box").html(data);
        $("#comment_text").val('');
        $('#file_name').hide();
        $('#file_upload').val('');


    },

    failure: function(data) { 
        alert('Got an error');
    }
        }); 
  

  });






  //Creates a box with the filename when a file is selected
  $('#file_upload').on('change', function() { //runs when a file is selected
    var file = this.files[0];
    $('#file_name').text(file.name + " has been selected. Click Add Comment/File to upload.");
    $('#file_name').show();
});




  //Hear we init IGV.js
  var div, options, browser;

  div = $("#myDiv")[0];
  options = {
    locus:"{{variant.chromosome}}:{{variant.position|add:-40}}-{{variant.position|add:40}}",
    showKaryo: false,
    showNavigation: true,
    showRuler: true,
    reference: {
      fastaURL: "https://s3.amazonaws.com/igv.broadinstitute.org/genomes/seq/hg19/hg19.fasta",
      cytobandURL: "https://s3.amazonaws.com/igv.broadinstitute.org/genomes/seq/hg19/cytoBand.txt"
      },
    flanking: 1000,
    apiKey: 'AIzaSyDUUAUFpQEN4mumeMNIRWXSiTh5cPtUAD0',
    trackDefaults: {
    bam: {
      coverageThreshold: 0.2,
      coverageQualityWeight: true
        }
      },
     

    tracks: [{
      name: "Genes",
      type: "annotation",
      format: "bed",
      sourceType: "file",
      url: "https://s3.amazonaws.com/igv.broadinstitute.org/annotations/hg19/genes/refGene.hg19.bed.gz",
      indexURL: "https://s3.amazonaws.com/igv.broadinstitute.org/annotations/hg19/genes/refGene.hg19.bed.gz.tbi",
      order: Number.MAX_VALUE,
      visibilityWindow: 300000000,
      displayMode: "EXPANDED"
      },

            {

      url: '/static/213837-2-D17-26177-HP_S2.bwa.drm.realn.sorted.bam',
      name: 'mybam',
      visibilityWindow: 50000,
      colorBy: "strand"

      },




      {  
    name: "Lab Variants",
    sourceType: "custom",
    type: "annotation",

    source : {
         url: "/api/variants/?chr=$CHR&start=$START&end=$END&format=json",
         method: "GET",
         contentType: "application/x-www-form-urlencoded",
         parser: JSON.parse


    }
    } 

      ]
      };

  browser = igv.createBrowser(div, options);





//copy and paste from clipboard
//Taken from https://stackoverflow.com/questions/18377891/how-can-i-let-user-paste-image-data-from-the-clipboard-into-a-canvas-element-in
var CLIPBOARD = new CLIPBOARD_CLASS("my_canvas", true);

var canvas_entered =false;

function CLIPBOARD_CLASS(canvas_id, autoresize) {
  var _self = this;
  var canvas = document.getElementById(canvas_id);
  var ctx = document.getElementById(canvas_id).getContext("2d");

  //handlers
  document.addEventListener('paste', function (e) { _self.paste_auto(e); }, false);

  //on paste
  this.paste_auto = function (e) {
    if (e.clipboardData) {
      var items = e.clipboardData.items;
      if (!items) return;
      
      //access data directly
      for (var i = 0; i < items.length; i++) {
        if (items[i].type.indexOf("image") !== -1) {
          //image
          var blob = items[i].getAsFile();
          var URLObj = window.URL || window.webkitURL;
          var source = URLObj.createObjectURL(blob);
          this.paste_createImage(source);
        }
      }
      e.preventDefault();
    }
  };
  //draw pasted image to canvas
  this.paste_createImage = function (source) {
    var pastedImage = new Image();
    canvas_entered =true;
    pastedImage.onload = function () {
      if(autoresize == true){
        //resize
        canvas.width = pastedImage.width;
        canvas.height = pastedImage.height;
      }
      else{
        //clear canvas
        ctx.clearRect(0, 0, canvas.width, canvas.height);
      }
      ctx.drawImage(pastedImage, 0, 0);
    };
    pastedImage.src = source;
  };
}



});



</script>

