 <h4>Evidence</h4>

               {{comments}}

               <hr>

                <form>
                  <div class="form-group">
                   <label for="comment">Comment:</label>
                  <textarea class="form-control" rows="5" id="comment_text"></textarea>
                 </div>

                <button type="button" class="btn btn-default btn-sm" id='comment_button'>
                  <span class="glyphicon glyphicon-plus"></span> Add Comment
                </button>
                </form>