{% load staticfiles %}
{% load var_extras %}

<!DOCTYPE html>

<head>

  <title>Variant Database</title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="{% static 'js/js.js' %}"></script>

  <link rel="stylesheet" href= "{% static 'css/default.css' %}">

  <link rel="stylesheet" href= "{% static 'css/sort.css' %}">




</head>


<body>

    <nav class="navbar navbar-default">

      <div class="container-fluid">

        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="{% url 'home_page' %}">Variant Database</a>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav">

            <li><a href="{% url 'list_sections' %}">Sections</a></li>
            <li><a href="{% url 'search_page' %}">Search</a></li>
            <li><a href="{% url 'settings' %}">Settings</a></li>
            <li><a href="{% url 'view_all_variants' %}">View Variants</a></li>


            <li><a href="{% url 'logout' %}">Logout</a></li>
          
          </ul>

         
        </div>
      </div>
    </nav>




    <div class="col-md-11 text-left" > 

    

    {% block content %}

    {% endblock %}






    </div>
     








</body>
</html>
