{% extends 'VariantDatabase/base.html' %}

  {% block content %}
  {% load crispy_forms_tags %}


  	<br>

  	 <h1>{{ gene.name }} </h1>


  	<hr>


<div class="container-fluid">

	<div class="row-fluid">

		<div  class="col-lg-6"  > <div id='pie_div' style="width: 600px; height: 300px;"> </div> </div>

		<div class="col-lg-6"> 

		<br>

		{% crispy form %}



		    </div>

	</div>

</div>


<hr> 



















	{% if variants|length_is:"0" %}

		<div class="alert alert-danger">
	  		<strong> Alert! </strong> No variants found.

	  	</div>
	{% else %}

		<table id="variant_table" class = 'table table-hover'>

			<thead>

				<tr>
					<th> CHROM </th>
					<th> POS </th>
					<th> REF </th>
					<th> ALT </th>
					<th> Consequence </th>
					<th> Max_AF </th>
					<th> Genes </th>
					<th> Detail </th>

				</tr>


			</thead>

			<tbody>
						
				{% for variant in variants %}

					<tr>

						<td> {{ variant.chromosome }} </td>

						<td> {{ variant.position }} </td>

						<td> {{ variant.ref }} </td>

						<td> {{ variant.alt }} </td>

						<td> {{ variant.worst_consequence }} </td>

						<td> {{ variant.max_af }} </td>

						<td> {% for gene in variant.get_genes %}

	   								{{ gene }} 

	  						  {% endfor %} 
	  					</td>

	  					<td>  <a href= "{% url 'view_detached_variant' variant.variant_hash  %}"> View  </a> </td>




					</tr>


				{% endfor %}


			</tbody>


		</table>

	{% endif %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">




// Load the Visualization API and the piechart package.
google.charts.load('current', {'packages':['corechart', 'table', 'controls']});

// Set a callback to run when the Google Visualization API is loaded.
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
var jsonData = $.ajax({
  url: "/api/variants/",
  dataType: "json",
  async: false
  }).responseText;

jsonData = JSON.parse(jsonData)

  
// Create our data table out of JSON data loaded from server.
var data = new google.visualization.DataTable();

data.addColumn('string', 'variant_hash');
data.addColumn('number', 'max_af');
data.addColumn('string', 'worst_consequence');

for (i=0;i<jsonData.length; i++){

	data.addRow([jsonData[i]['variant_hash'],jsonData[i]['max_af'],jsonData[i]['worst_consequence']]);

	console.log([jsonData[i]['variant_hash'],jsonData[i]['max_af'],jsonData[i]['worst_consequence']]);

};

var options = {
  title: 'Consequences',

};  


var grouped_data = google.visualization.data.group(data, [2], [{'column': 0, 'aggregation': google.visualization.data.count, 'type': 'number'}])


var pie_chart = new google.visualization.PieChart(document.getElementById('pie_div'));

pie_chart.draw(grouped_data)



















}

</script>



{% endblock %}}
