{% extends 'VariantDatabase/base.html' %}

  {% block content %}

  	<br>

  	{{ gene.strand }}

<table id="variant_table" class = 'table table-hover'>

	  	  	<thead>

			<tr>
				<th> CHROM </th>
				<th> POS </th>
				<th> REF </th>
				<th> ALT </th>
				<th> Consequence </th>

				<th> Max_AF </th>

				<th> Genes </th>

				


			</tr>


			</thead>

			<tbody>
				
					{% for variant in variants %}

					<tr>

						<td> {{ variant.chromosome }} </td>

						<td>  {{ variant.position }} </td>

						<td>  {{ variant.ref }} </td>

						<td>  {{ variant.alt }} </td>

						<td>  {{ variant.worst_consequence }} </td>

						<td>  {{ variant.max_af }} </td>

						<td>       {% for gene in variant.get_genes %}


       									{{ gene }} 


      								{% endfor %} 

      					</td>

      					





					</tr>


					{% endfor %}


				</tbody>


				</table>


   {% endblock %}