{% extends 'VariantDatabase/base.html' %}
  {% block content %}

 <ul class="nav nav-tabs">


	    <li class="active"><a data-toggle="tab" href="#variants">Variants</a></li>
	    <li><a data-toggle="tab" href="#filter">Filter</a></li>


  	</ul>

  	<br>

  	<div class="tab-content" >



  	<!--Variants Tab displays filtered variants -->
  	<div id="variants" class="tab-pane active">
<div id="myDiv">
</div>

</div>

	<div id="filter" class="tab-pane">

	</div>












<script type="text/javascript">

    $(document).ready(function () {

        var div,
                options,
                browser;

        div = $("#myDiv")[0];
        options = {
            locus: "myc",
            showKaryo: false,
            showNavigation: true,
            showRuler: true,
            reference: {
                fastaURL: "https://s3.amazonaws.com/igv.broadinstitute.org/genomes/seq/hg19/hg19.fasta",
                cytobandURL: "https://s3.amazonaws.com/igv.broadinstitute.org/genomes/seq/hg19/cytoBand.txt"
            },
            flanking: 1000,
            apiKey: 'AIzaSyDUUAUFpQEN4mumeMNIRWXSiTh5cPtUAD0',
            trackDefaults: {
                bam: {
                    coverageThreshold: 0.2,
                    coverageQualityWeight: true
                }
            },
            palette: [
                ["#00A0B0", "#6A4A3C", "#CC333F", "#EB6841"]
            ],
            tracks: [
                {
                    name: "Genes",
                    type: "annotation",
                    format: "bed",
                    sourceType: "file",
                    url: "https://s3.amazonaws.com/igv.broadinstitute.org/annotations/hg19/genes/refGene.hg19.bed.gz",
                    indexURL: "https://s3.amazonaws.com/igv.broadinstitute.org/annotations/hg19/genes/refGene.hg19.bed.gz.tbi",
                    order: Number.MAX_VALUE,
                    visibilityWindow: 300000000,
                    displayMode: "EXPANDED"
                }
            ]
        };

        browser = igv.createBrowser(div, options);


    });

</script>


{% endblock %}