{% extends 'VariantDatabase/base.html' %}

  {% block content %}


    <br>

    <div class="alert alert-info">
  		You are viewing information relating to sample:  <strong> {{ sample.name }} </strong> 
	</div>


    	   <ul class="nav nav-tabs">

			    <li class="active"><a data-toggle="tab" href="#variants">Variants</a></li>
			    <li><a data-toggle="tab" href="#filter">Filter</a></li>
			    <li><a data-toggle="tab" href="#QC">QC</a></li>
			    <li><a data-toggle="tab" href="#history">History</a></li>

  			</ul>

  	<br>

  	<div class="tab-content">


  		<div id="variants" class="tab-pane fade in active">


	  	  	<table id="variant_table" class = 'table table-hover sortable'>

	  	  	<thead>

			<tr>
				<th data-defaultsort='disabled'> CHROM </th>
				<th data-defaultsort='disabled'> POS </th>
				<th data-defaultsort='disabled'> REF </th>
				<th data-defaultsort='disabled'> ALT </th>


				{% for field in field_list %}


				<th> {{field}} </th>

				{% endfor %}


				<th data-defaultsort='disabled'> GENOTYPE </th>
				<th data-defaultsort='disabled'> Detail </th>					


			</tr>

			</thead>

			<tbody>


		  	{% for variant in data %}

		  		

				<tr>

					<td> {{ variant.chrom }} </td>
					<td> {{ variant.pos }} </td>
					<td > {{ variant.reference }} </td>
					<td > {{ variant.alt_alleles }} </td>

					{% for field in field_list %}


					<td >  {{ variant|get_item:field }} </td>

					{% endfor %}



					<td> {{ variant.genotype}} </td>
					<td><a href="{% url 'variant_detail' pk_sample=sample.pk variant_hash=variant.hash_id  %}"> View  </a> </td>


				</tr>




		  	{% endfor %}

		  	</tbody>


		</table>





		</div>

	<div id="QC" class="tab-pane fade">

		<p> QC goes here </p>

	</div>


	<div id="history" class="tab-pane fade">

		<p> Sample History goes here </p>

	</div>

	<div id="filter" class="tab-pane fade">























	</div>




	</div>



     
 {% endblock %}  
  
  
 
  
  
  
