<!--Section List Page   -->
{% extends 'VariantDatabase/base.html' %}
{% load crispy_forms_tags %} 
{% block content %}

<br>



<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Filter</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">{% crispy form %}</div>
    </div>
  </div>
</div>




<ul class="nav nav-tabs">
    {% for section in all_sections %}
    <li><a data-toggle="tab" href={{ "#"|add:section.description }}> {{ section.title }}  </a></li>
    {% endfor %}
</ul>
<div class="tab-content">
    <br>

     {% for section in all_sections %}

        <div id="{{ section.description }}" class="tab-pane fade">




        <table class='table table-hover'>
            <tr>
                <th> Name </th>
                <th> Comment </th>
                <th> Creation Date </th>
                <th> Project </th>
                <th> Status </th>
            </tr>


            {% if show_complete == True %}


            {% for worksheet in section.get_worksheets_all %}
            <tr>
                <td> <a href="{% url 'list_worksheet_samples' worksheet.pk  %}"> {{ worksheet.name }}   </a> </td>
                <td> {{ worksheet.comment }} </td>
                <td> {{ worksheet.get_creation_date }} </td>
                <td> {{ worksheet.sub_section }} </td>
                <td> {{worksheet.get_status}} </td>
            </tr>
            {% endfor %}


            {% else %}


            {% for worksheet in section.get_worksheets_no_complete %}
            <tr>
                <td> <a href="{% url 'list_worksheet_samples' worksheet.pk  %}"> {{ worksheet.name }}   </a> </td>
                <td> {{ worksheet.comment }} </td>
                <td> {{ worksheet.get_creation_date }} </td>
                <td> {{ worksheet.sub_section }} </td>
                <td> {{worksheet.get_status}} </td>
            </tr>
            {% endfor %}

            {% endif %}





        </table>


    </div>
    {% endfor %}






</div>


<hr>





{% endblock %}