{% extends 'VariantDatabase/base.html' %}

  {% block content %}

  	<br>

  	<div class="alert alert-info">
  		You are viewing information relating to: <strong> {{ samples_in_worksheet.0.worksheet }} </strong>
	</div>

   <ul class="nav nav-tabs">

    <li class="active"><a data-toggle="tab" href="#samples">Samples</a></li>
    <li><a data-toggle="tab" href="#QC">QC</a></li>
    <li><a data-toggle="tab" href="#history">History</a></li>

  </ul>

  <br>

  <div class="tab-content">


  	<div id="samples" class="tab-pane fade in active">


  	<table class = 'table table-hover'>

		<tr>
			<th> Sample Name </th>
			<th> Patient Initials </th>
			<th> Sample Status </th>



		</tr>


		{% for sample in samples_in_worksheet %}

		<tr>

			<td> <a href= "{% url 'list_sample_variants' sample.pk  %}"> {{ sample.name }}   </a> </td>
			<td> {{ sample.patient_initials }} </td>
			<td>{{ sample.get_status      }} </td>
		

		</tr>

		{% endfor %}


	</table>

	</div>

	<div id="QC" class="tab-pane fade">

	<p> QA goes here </p>

	</div>


	<div id="history" class="tab-pane fade">

	<p> Worksheet History goes here </p>

	</div>

	</div>
     
  {% endblock %}