{% extends 'VariantDatabase/base.html' %}

  {% block content %}


    <br>

    <div class="alert alert-info">
  		You are viewing information relating to sample:  <strong> {{ sample.name }} </strong>
	</div>


    	   <ul class="nav nav-tabs">

			    <li class="active"><a data-toggle="tab" href="#variants">Variants</a></li>
			    <li><a data-toggle="tab" href="#filter">Filter</a></li>
			    <li><a data-toggle="tab" href="#QA">QA</a></li>
			    <li><a data-toggle="tab" href="#history">History</a></li>

  			</ul>

  	<br>

  	<div class="tab-content">


  		<div id="variants" class="tab-pane fade in active">


  		





	  	  	<table id="variant_table" class = 'table table-hover table-bordered'>

			<tr>
				<th> CHROM </th>
				<th> POS </th>
				<th> REF </th>
				<th> ALT </th>
				<th> GENE </th>
				<th> GENOTYPE </th>			


			</tr>


		  	{% for variant in data %}

		  		

				<tr>

					<td> {{ variant.chrom }} </td>
					<td> {{ variant.pos }} </td>
					<td > {{ variant.reference }} </td>
					<td > {{ variant.alt_alleles }} </td>
					<td> {{ variant.Gene_refGene }} </td>
					<td> {{ variant.genotype}} </td>


				</tr>




		  	{% endfor %}


		</table>



		</div>

	<div id="QA" class="tab-pane fade">

		<p> QA goes here </p>

	</div>


	<div id="history" class="tab-pane fade">

		<p> Sample History goes here </p>

	</div>

	<div id="filter" class="tab-pane fade">























	</div>




	</div>



     
 {% endblock %}  
  
  
 
  
  
  
