{% extends 'VariantDatabase/base.html' %}

  {% block content %}

{% load permission_tags %}
{% load crispy_forms_tags %}
  	<br>

  	<div class="alert alert-info">
  		You are viewing information relating to: <strong> {{ worksheet }} </strong>
	</div>

   <ul class="nav nav-tabs">

    <li class="active"><a data-toggle="tab" href="#samples">Samples</a></li>
    <li><a data-toggle="tab" href="#QC">QC</a></li>
    <li><a data-toggle="tab" href="#history">History</a></li>

  </ul>

  <br>

  <div class="tab-content">


  	<div id="samples" class="tab-pane fade in active">


  	{% if worksheet.awaiting_qc_approval   %}

  	<div class="alert alert-danger">
  		<strong>Please Approve QA before viewing samples</strong> 
	</div>

	{% endif %}


  	<table class = 'table table-hover'>

		<tr>
			<th> Sample Name </th>

			<th> Sample Status </th>

			<th> Sample QC </th>



		</tr>


		{% for sample in samples_in_worksheet %}

		<tr>

			<td> <a href= "{% url 'sample_summary' sample.pk  %}"> {{ sample.name }}   </a> </td>

			<td>{{ sample.get_status      }} </td>

			{% if sample.sample_qc_passed == "PASS" %}

			<td> <span class="glyphicon glyphicon-ok-sign text-success"></span></td>

			{% else %}

			<td> <span class="glyphicon glyphicon-remove-sign text-danger"></span></td>

			{% endif %}
		

		</tr>

		{% endfor %}


	</table>


	</div>

	<div id="QC" class="tab-pane fade">

		


		{% for read in quality_data %}

		<h3> Read  {{read.0.read|add:"1"}} </h3>

		

		<table id="variant_table" class = 'table table-bordered table-sm'>


	  	  	<thead>

				<tr>
					<th> Lane </th>
					<th> Density (K/mm2) </th>
					<th> Cluster PF (%) </th>
					<th> Phas/Prephas (%) </th>
					<th> Reads (M) </th>
					<th> Reads PF (M) </th>
					<th> % >= Q30 </th>
					<th> Yield (G) </th>
					<th> Aligned (%) </th>


				</tr>

			</thead>

			

			<tbody>

			{% for lane in read %}

			<tr>

				<td> {{ lane.lane|add:"1" }} </td>
				<td> {{ lane.format_density|floatformat:"0" }} </td>
				<td> {{ lane.cluster_pf_percent|floatformat:"2" }} </td>
				<td> {{ lane.phasing|floatformat:"3" }} / {{ lane.prephasing|floatformat:"3" }} </td>
				<td> {{ lane.format_reads|floatformat:"2" }} </td>
				<td> {{ lane.format_reads_pf|floatformat:"2" }} </td>
				<td> {{ lane.percent_gt_q30|floatformat:"1" }} </td>
				<td> {{ lane.yield_g|floatformat:"1" }} </td>
				<td> {{ lane.percent_aligned|floatformat:"1" }} </td>

			</tr>


			{% endfor %}


			</tbody>

			
		</table>

		{% endfor %}


		{% if worksheet.qc_present and worksheet.awaiting_qc_approval %}
		


			{% if user|can:'approve_qc' %}


		    <div class="panel panel-danger">
	        <div class="panel-heading">Approve QC</div>
	        <div class="panel-body"> <form class="form-horizontal" method="post">{% csrf_token %}

	        <p> Please check and then approve the QA </p>

	            {{ form.as_p }}

	        <br>

	        <div class="form-actions">

	            <button type="submit" class="btn btn-primary">Approve</button>

	        </div>
	    
	        </form>

	        </div>
	        </div>

	        {% else %}

	        <div class="alert alert-warning">
  				<strong>Warning!</strong> You do not have permission to approve QC.
			</div>

			{% endif %}



		{% elif not worksheet.qc_present %}


			<div class="alert alert-danger">
		  		<strong>No QC Present</strong>


			</div>

		{% else %}

			<div class="alert alert-success">
		  		<strong>Success!</strong> QA Approved


			</div>



		{% endif  %}



        

	</div>







	<div id="history" class="tab-pane fade">

	


		<table class = 'table table-hover'>

		<thead>

		<tr>
			<th> Change Category </th>
			<th> Change Description </th>
			<th> Date </th>
			<th> User </th> 

		</tr>


		</thead>

		<tbody>

		{% for change in worksheet.get_history %}

			<tr>

				<td> {{ change }} </td>
				<td> {{ change.changes }} </td>
				<td> {{ change.timestamp}} </td>
				<td> {{ change.actor }} </td>

			</tr>

		{% endfor %}



		</tbody>


		</table>

		{% if user|can:'change_worksheet_status' %}

		<hr>

			{% crispy status_form %}


		{% endif %}
	</div>

	</div>
     
  {% endblock %}