{% extends 'VariantDatabase/base.html' %}

  {% block content %}

  	<br>
  	<br>

  	<div class="alert alert-success">
  		You are viewing the Samples belonging to Project Batch {{ batch.pk }}
	</div>




  	<table class = 'table table-hover'>

		<tr>
			<th> Sample Number </th>
			<th> Sample Name </th>
			<th> Patient Initials </th>	

		</tr>


		{% for sample in samples_in_batch %}

		<tr>

			<td> {{ sample.pk }} </td>
			<td> {{ sample.sample_name }} </td>
			<td> {{ sample.patient_initials }} </td>

		</tr>

		{% endfor %}


	</table>







      

     
  {% endblock %}