{% extends 'VariantDatabase/base.html' %}

  {% block content %}


    <br>

  	<div class="alert alert-success">
  		You are viewing the Variations in the file:  {{ vcf_file_path }}
	</div>




  	  	<table class = 'table table-hover'>

		<tr>
			<th> CHROM </th>
			<th> POS </th>
			<th> REF </th>
			<th> ALT </th>
			<th> GENE </th>
			<th> GENOTYPE </th>			


		</tr>


  	{% for variant in data %}

  		

		<tr>

			<td> {{ variant.CHROM }} </td>
			<td> {{ variant.POS }} </td>
			<td > {{ variant.ref }} </td>
			<td > {{ variant.alt.0 }} </td>
			<td> {{ variant.Gene_refGene }} </td>
			<td> {{ variant.genotype}} </td>


		</tr>




  	{% endfor %}


	</table>



     
 {% endblock %}  
  
  
 
  
  
  
