{% extends 'VariantDatabase/base.html' %}

  {% block content %}

  	<br>
  	<br>

  	<table class = 'table table-hover'>

		<tr>
			<th> Project Number </th>
			<th> Project Title </th>
			<th> Project Description  </th>
			<th> Project Owner </th>
			<th> Project Batches </th>

		</tr>


		{% for project in all_projects %}

		<tr>

			<td> {{ project.pk }} </td>
			<td> {{ project.project_title }} </td>
			<td> {{ project.project_description }} </td>
			<td> {{ project.project_owner }} </td>
			<td> <a href= "{% url 'list_batches' pk=project.pk %}"> List Batches </a> </td>




		</tr>


			

		{% endfor %}


	</table>


	<div style="display:flex;justify-content:center;align-items:center;">
	<ul class="pagination center">
	  <li><a href="#">1</a></li>
	  <li><a href="#">2</a></li>
	  <li><a href="#">3</a></li>
	  <li><a href="#">4</a></li>
	  <li><a href="#">5</a></li>
	</ul>

	</div>

      

     
  {% endblock %}
