{% extends 'VariantDatabase/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load permission_tags %}


 {% block content %}

 <h2> Gene Panels </h2>

 <hr> 


 <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#gene_panels">Gene Panels</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#create_new">Create New</a></li>
 </ul>

 <div class="tab-content">




 	 <div id="gene_panels" class="tab-pane active">

 	 	 	<br>


		 <table class="table table-hover table-bordered">

		 	<thead>

		 		<tr>

		 			<th> Name </th>
		 			<th> Description </th>
		 			<th> Subsection </th>
		 			<th> Gene Count </th>
		 			<th> View </th>


		 		</tr>

		 	</thead>

		 	<tbody>

		 		{% for panel in panels %}

		 			<tr>

		 				<td> {{panel.name}} </td>
		 				<td> {{panel.description}} </td>
		 				<td> {{panel.subsection}} </td>
		 				<td> {{panel.number_of_genes}} </td>
		 				<td> <a href= "{% url 'panel_view' panel.pk  %}"> View   </a> </td>

		 			</tr>

		 		{% endfor %}


		 	</tbody>


		 </table>


	</div>


	<div id="create_new" class="tab-pane fade">

	<br>

	{% if user|can:'create_panel' %}

	{% crispy form %}

	{% else %}

	<div class="alert alert-warning">
  		<strong>Warning!</strong> You do not have permission to create panels.
	</div>

	{% endif %}


    </div>

   </div>




 {% endblock %}