{% extends 'VariantDatabase/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href= "{% static 'css/parts-selector.css' %}">


<h2 id='panel_name'> {{panel.name}} </h2> 

<hr>

<button type="button" class="btn btn-success" id='submit_save'>Save</button>
<hr>


<h4> Description: </h4>

<textarea class="form-control" rows="5" id="comment_box">{{panel.description|linebreaksbr}}</textarea>


<hr>
<main>


      <div class="parts-selector" id="parts-selector-1">
        <div class="parts list">
          <h3 class="list-heading">Available Genes</h3>
          <ul>

          {% for gene2 in other_genes %}

            <li>
              {{gene2.name}}
            </li>

            {% endfor %}

          </ul>
        </div>
        <div class="controls">
          <a class="moveto selected"><span class="icon"></span><span class="text">Add</span></a>
          <a class="moveto parts"><span class="icon"></span><span class="text">Remove</span></a>
        </div>
        <div class="selected list">
          <h3 class="list-heading">Panel Genes</h3>
          <ul id='genes_to_include'>



            {% for gene in panel_genes %}

            <li>
              {{gene.gene.name}}
            </li>
            {% endfor %}


          </ul>
        </div>
      </div>


    </main>

{% csrf_token %}
<script type="text/javascript" src="{% static 'js/parts-selector.js' %}"></script>



<script>
  $(function() {
    $( "#parts-selector-1" ).partsSelector({itemButtons:true});
  });
</script>

<script>
$(document).ready(function(){


  $("#submit_save").click(function(){ //submit gene data to server on click

    var panel_name = $.trim($('#panel_name').text())

    var genes_to_submit = $('#genes_to_include').children('li');

    var gene_list =[]

    var comment_box = $('#comment_box').val()

    for (var i =0; i<genes_to_submit.length; i++){

      gene = $.trim(genes_to_submit[i].childNodes[0].data);

      gene_list.push(gene)


    };

    var formData = new FormData();
    formData.append('csrfmiddlewaretoken',document.getElementsByName('csrfmiddlewaretoken')[0].value );
    formData.append('genes_to_include', JSON.stringify(gene_list));
    formData.append('panel_name', panel_name);
    formData.append('comment_box', comment_box);


    $.ajax({
      url: '/ajax/update_panel/',
      type: 'POST',
      data: formData,


      contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
      processData: false, // NEEDED, DON'T OMIT THIS

      success: function(data) {

      alert(data)
      window.location.replace('/panels/');

      },
      failure: function(data) { 

      alert('Got an error');

      }

      });
    



  });





  });



</script>









 {% endblock %}