{% extends 'VariantDatabase/base.html' %}

  {% block content %}


	<br>

	{% if error.0 == 3 %}

	<div class="alert alert-success">
  		<strong>Success</strong> {{error.1}}
	</div>

	{% elif error.0 != 0 %}

	<div class="alert alert-danger">
  		<strong>Danger</strong> {{error.1}}
	</div>

	{% endif %}




	<div class="panel-body">

	       
	    <form enctype="multipart/form-data" method="POST" class="post-form">{% csrf_token %}
	        {{ form.as_p }}
	        <button type="submit" class="btn btn-primary">Save</button>
	    </form>

	</div>












     
  {% endblock %}