<!--The detached variant page - not linked to any sample   -->


{% extends 'VariantDatabase/base.html' %}
  {% block content %}

  <br>

  {% if other_alleles|length_is:"0" %}


  {% else %}


    <div class="alert alert-danger">
      <strong>Alert!</strong> This is a multiallelic variant. Other variants at this position:

      {% for allele in other_alleles %}

          <a href= "{% url 'view_detached_variant' allele.variant_hash  %}"> {{ allele.chromosome }}   {{ allele.position }} {{ allele.ref }} > {{ allele.alt }}</a>

      {% endfor %}


    </div>

  {% endif %}


  <div  class="col-lg-6" >

        <table class = 'table table-bordered' >
        <thead>
          <tr>
            <th colspan="2">Summary</th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td> Chromsome </td>
            <td> {{ variant.chromosome }} </td>

          </tr>

          <tr>
            <td> Position </td>
            <td> {{ variant.position }} </td>

          </tr>

          <tr>
            <td> Ref </td>
            <td> {{ variant.ref }} </td>

          </tr>

          <tr>
            <td> Alt </td>
            <td> {{ variant.alt }} </td>

          </tr>

          <tr>
            <td> ID </td>
            <td> {{ variant.display_ids|join:", " }} </td>

          </tr>

          <tr>
            <td> Genes </td>
            <td>

              {% for gene in variant.get_genes %}

                {{ gene }} 

              {% endfor %}

            </td>

          </tr>

          <tr>
            <td> Worst Consequence </td>
            <td> {{ variant.worst_consequence }} </td>

          </tr>


          <tr>
            <td> ClinVar Clin Sig </td>
            <td> {{ variant.clinical_sig }} </td>

          </tr>

        </tbody>
      </table>



        <hr>

    <table class = 'table table-bordered' >
        <thead>
          <tr>
            <th colspan="2"> WMRGL Frequency</th>
          </tr>
        </thead>

        <tbody>

        

          <tr>
            <td> Total Frequency </td>
            <td> {{ frequency_data.global.2|floatformat:3 }} ({{ frequency_data.global.0 }} / {{ frequency_data.global.1 }}) </td>

          </tr>


          {% for key, values in frequency_data.projects.items %}


          <tr>
            <td> {{key }}</td>
            <td>  {{ values.2|floatformat:3 }} ({{ values.0 }} / {{ values.1 }}) </td>

          </tr>

          {% endfor %}







          </tbody>




    </table>


    <hr>

    <table  class = 'table table-bordered' >
        <thead>
          <tr>
            <th> Final Classification </th>
            <th> Report ID </th>
            <th> Sample </th>
            <th> Subsection </th>
            <th> Date </th>
          </tr>
        </thead>

        <tbody>

        
        {% for classification in variant.previous_classifications %}
          <tr>
            <td> {{classification.final_classification}} </td>
            <td> {{classification.report.pk}} </td>
            <td> {{classification.report.sample.name}} </td>
            <td> {{classification.report.sample.worksheet.sub_section}} </td>
            <td> {{classification.report.resolver_date}} </td>

          </tr>

        {% endfor %}









          </tbody>




    </table>




        <hr>



    
      <button data-toggle="collapse" data-target="#demo">View Samples</button>

      

    <div id="demo" class="collapse">


      <hr>
    
    <table  class = 'table table-bordered' >
        <thead>
          <tr>
            <th colspan="1"> Samples </th>
          </tr>
        </thead>

        <tbody>

        
        {% for sample in samples %}
          <tr>
            <td> {{sample.name}} </td>

          </tr>

        {% endfor %}









          </tbody>




    </table>

           </div>
    <hr>

    <h3> Transcripts </h3>

    <hr>

    <div class="panel-group" id="accordion">

    {% for transcript in transcripts %}

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">
            {{ transcript.transcript.name }}</a>
          </h4>
        </div>

        {% if forloop.first %}

          <div id="collapse{{forloop.counter}}" class="panel-collapse collapse">

        {% else %}

          <div id="collapse{{forloop.counter}}" class="panel-collapse collapse">

        {% endif %}
        
          <div class="panel-body">

            <table class="table table-hover">
            <thead>
              <tr>
                <th>Annotation</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Symbol</td>
                <td> {{ transcript.transcript.get_gene }}</td>

              </tr>

              <tr>
                <td>Feature</td>
                <td> {{ transcript.transcript.name }}  </td>

              </tr>

              <tr>
                <td>Consequence</td>
                <td>{{ transcript.consequence }}  </td>

              </tr>

              <tr>
                <td>Codons</td>
                <td>{{ transcript.codons }} </td>

              </tr>

              <tr>
                <td>Exon</td>
                <td>{{transcript.exon }}</td>

              </tr>

              <tr>
                <td>Intron</td>
                <td> {{transcript.intron }}</td>

              </tr>

              <tr>
                <td>AA</td>
                <td>{{ transcript.amino_acids}} </td>

              </tr>

              <tr>
                <td>cDNA Position</td>
                <td>{{transcript.cdna_position }} </td>

              </tr>

              <tr>
                <td>HGVSc</td>
                <td>{{transcript.hgvsc }} </td>

              </tr>
              <tr>
                <td>HGVSp</td>
                <td>{{transcript.hgvsp }}  </td>

              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  {% endfor %}


</div>
</div>





     
  {% endblock %}


