{% extends 'VariantDatabase/base.html' %}

  {% block content %}
  <br>

   <ul class="nav nav-tabs">

    <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
    <li><a data-toggle="tab" href="#QA">QA</a></li>
    <li><a data-toggle="tab" href="#samples">Samples</a></li>

  </ul>

  <br>

  <div class="tab-content">


    <div id="summary" class="tab-pane fade in active">

    {{ variant_sample_data }}


  </div>

  <div id="QA" class="tab-pane fade">

  <p> QA goes here </p>

  </div>


  <div id="samples" class="tab-pane fade">

  {% for var in variant.get_samples_with_variant %}

  <p> {{ var.sample.name }} </p>

  {% endfor %}

  </div>

  </div>
  
      

     
  {% endblock %}