{% extends 'VariantDatabase/base.html' %}

  {% block content %}

  	<br>



<div class="alert alert-info">


	<p> Search using a gene name here:  </p>

	<br>

  	<form action="/view_all_variants/" method="get">
    <label for="gene_name">Gene Name: </label>
    <input id="gene_name" type="text" name="gene_name">
    <input type="submit" value="OK">
	</form>








</div>







{% if gene_name %}


{% if variants|length_is:"0" %}

<div class="alert alert-danger">
  <strong>Error!</strong> No gene with that name found.
</div>

{% else %}



<table id="variant_table" class = 'table table-hover'>

	  	  	<thead>

			<tr>
				<th> CHROM </th>
				<th> POS </th>
				<th> REF </th>
				<th> ALT </th>
				<th> Consequence </th>

				<th> Max_AF </th>

				<th> Genes </th>

				


			</tr>


			</thead>

			<tbody>
				
					{% for variant in variants %}

					<tr>

						<td> {{ variant.chromosome }} </td>

						<td>  {{ variant.position }} </td>

						<td>  {{ variant.ref }} </td>

						<td>  {{ variant.alt }} </td>

						<td>  {{ variant.worst_consequence }} </td>

						<td>  {{ variant.max_af }} </td>

						<td>       {% for gene in variant.get_genes %}


       									{{ gene }} 


      								{% endfor %} 

      					</td>

      					





					</tr>


					{% endfor %}


				</tbody>


				</table>

	<hr>


	
    <ul class='pager'>
	  	 <span class="current">
            Page {{ variants.number }} of {{ variants.paginator.num_pages }}.
        </span>


    
        {% if variants.has_previous %}
             <li><a href="?gene_name={{gene_name}}&page={{ variants.previous_page_number }}">Previous</a> </li>
        {% endif %}

       

        {% if variants.has_next %}
          <li>  <a href="?gene_name={{gene_name}}&page={{ variants.next_page_number }}">Next</a> </li>
        {% endif %}
    </ul>


{% endif %}
{% endif %}


   {% endblock %}