{% extends 'VariantDatabase/base.html' %}

  {% block content %}

  	<br>



<div class="alert alert-info">


	<p> Search using a gene name here:  </p>

	<br>

  	<form action="/view_all_variants/" method="get">
    <label for="gene_name">Gene Name: </label>
    <input id="gene_name" type="text" name="gene_name">
    <input type="submit" value="OK">
	</form>








</div>


{% if gene_name %}




<div class="alert alert-danger">
  

  {% if alts|length_is:"0" %}

  		<strong>Error!</strong> No gene with that name found.

  {% else %}

  		<strong>Error!</strong> No gene with that name found.
  		<p> Did you mean:

  		{% for gene in alts %}


  			<a href= "{% url 'view_gene' gene.name  %}"> {{ gene.name }}   </a>


  			


  		{% endfor %}



  {% endif %}


</div>

{% else %}




	



{% endif %}



   {% endblock %}