{% extends 'VariantDatabase/base.html' %}

  {% block content %}

  	<br>


  	<table class = 'table table-hover'>

		<tr>
			<th> CHROM </th>
			<th> POS </th>
			<th> REF </th>
			<th> ALLELE </th>
			<th> HGVS </th>
			<th> ID </th>
			<th> Genes </th>




		</tr>


		{% for variant in variants %}

		<tr>

			<td> {{variant.chromosome }}</td>
			<td> {{variant.position }} </td>
			<td>{{variant.ref }} </td>
			<td>{{variant.alt }} </td>
			<td>{{variant.HGVS }} </td>
			<td>{{variant.rs_number }} </td>
			<td>{{variant.get_genes }} </td>

		

		</tr>

		{% endfor %}


	</table>

	<hr>


	
    <ul class='pager'>
	  	 <span class="current">
            Page {{ variants.number }} of {{ variants.paginator.num_pages }}.
        </span>


    
        {% if variants.has_previous %}
             <li><a href="?page={{ variants.previous_page_number }}">Previous</a> </li>
        {% endif %}

       

        {% if variants.has_next %}
          <li>  <a href="?page={{ variants.next_page_number }}">Next</a> </li>
        {% endif %}
    </ul>






   {% endblock %}